@font-face {
    font-family: 'SIMPLIFICA';
    src: url("SIMPLIFICA.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: "SIMPLIFICA";
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    letter-spacing: 5px;
}

button:hover,
button:focus {
    background: #0053ba;
}

.locked:hover,
.locked:focus {
    background: #656565;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


body {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  font-family: "SIMPLIFICA";
  letter-spacing: 5px;
  background-color: #151515;
  color: white;
}

h1{
  position: relative;
  top: -20px;
  left: -333px;
  font-size: 100px;
  width: 1167px;
  letter-spacing: 15px;
  color: #1070d1;
}

canvas{
  letter-spacing: normal;
}

span{
  letter-spacing: 1px;
  padding-left: 2px;
}

#game{
  position: absolute;
  top: calc(50vh - 300px);
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#game-container{
  position: absolute;
  height: 504px;
  border: 2px solid #1070d1;
  overflow: hidden;
}

.sliding-panel-left{
  color:white;
  background-color: #303030;
  border: 2px solid #1070d1;
  border-right: 0px;
  position: absolute;
  left: 0px;
  width: 300px;
  height: 504px;
  transition: left .3s;
  transition-timing-function: ease-in-out;
}

.sliding-panel-button-left{
  background-color: #1070d1;
  position: absolute;
  top:-2px;
  left: -35px;
  width: 35px;
  height: 504px;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  border: 2px solid #1070d1;
}

.sliding-panel-button-left-text{
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% + 45px)) rotate(-90deg);
}

.sliding-panel-right{
  color:white;
  background-color: #303030;
  border: 2px solid #1070d1;
  position: absolute;
  right: 0px;
  width: 300px;
  height: 504px;
  transition: right .3s;
  transition-timing-function: ease-in-out;
}

.sliding-panel-button-right{
  background-color: #1070d1;
  border: 2px solid #1070d1;
  position: absolute;
  top:-2px;
  right: -35px;
  width: 35px;
  height: 504px;
  /*border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;*/
}

.sliding-panel-button-right-text{
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% - 15px)) rotate(90deg);
}

#movement-instruction{
  position: absolute;
  bottom: -2px;
  height: 0px;
  width: 500px;
  background-color: #303030;
  border-top: solid 2px #1070d1;
  transition: height 0.2s;
}

.key-image{
  position: absolute;
}

#a{
  left: 10px;
  top: 10px;
}

#k{
  right: 10px;
  top: 10px;
}

#z{
  left: 10px;
  top: 60px;
}

#m{
  right: 10px;
  top: 60px;
}

#movement-instruction p{
  position: absolute;
}

#movement-instruction div p{
  position: static;
}

#right{
  top:40px;
  right:115px;
}

#left{
  top:40px;
  left:120px;
}

#upright{
  top: 15px;
  right: 45px;
}

#upleft{
  top: 15px;
  left: 45px;
}

#downright{
  top: 66px;
  right: 45px;
}

#downleft{
  top: 66px;
  left: 45px;
}

#movement-instruction div{
  position: absolute;
  text-align: center;
  top: -25px;
  left: 75px;
  height: 25px;
  width: 350px;
  background-color: #1070d1;
  /*border-top-left-radius: 5px;
  border-top-right-radius: 5px;*/
  color:white;
}

#controls-arrow-left{
  left:10px;
  top:4px;
  transform: rotate(-90deg);
}

#controls-arrow-right{
  right:10px;
  top:4px;
  transform: rotate(-90deg);
}

#instructions-arrow-top{
  top:5px;
  left:10px;
  transform: rotate(0deg);
}

#instructions-arrow-bottom{
  bottom:5px;
  left:10px;
  transform: rotate(0deg);
}

#levels-arrow-top{
  top:5px;
  right:10px;
  transform: rotate(180deg);
}

#levels-arrow-bottom{
  bottom:5px;
  right:10px;
  transform: rotate(180deg);
}

.difficulty-button{
  width: 220px;
  height: 70px;
  margin-top: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 7px;*/
  background-color: #1070d1;
  color:white;
}

.difficulty-button p{
  font-size: 30px;
  margin-bottom: 3px;
}

.difficulty-button span{
  font-size: 14px;
}

.locked{
  background-color: #656565;
}

.item{
  width: 125px;
  height: 125px;
  background-color: #656565;
  margin-bottom: 8px;
  margin-left: 10px;
  /*border-radius: 10px;*/
  padding-top: 20px;
}

.bottom-item{
  /*margin-bottom: 0px;*/
}

.locked {
  background-color: #656565;
}

.unlocked{
  background-color: #87a2bc;
}

.selected{
  background-color: #1070d1;
}

.item .coin{
  display: none;
}

.locked .coin{
  display: inline;
}

.item-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 5px;*/
  width: 80px;
  height: 80px;
  border: solid 2px white;
}

.item p{
  position: static;
  margin-top: 4px;
  display: inline;
  font-size: 15px;
}

.item div{
  margin-top: 3px;
  text-align: center;
}

#store{
  height: 470px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.coin {
		-webkit-animation: rotation 8s infinite linear;
}

button img {
  pointer-events: none;
}

button p {
  pointer-events: none;
}

button div {
  pointer-events: none;
}

#coin-counter{
  width: 100%;
  background-color: #1070d1;
  height: 30px;
}

#coin-counter p{
  display: inline;
}

p{
  font-size: 1.5em;
  text-align: center;
  padding-left: 8px;
}

.shop-section{
  width: 100%;
  height: 30px;
  background-color: #656565;
  margin-bottom: 8px;
  padding-top: 3px;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.price{
  color:white;
}

#game h1{
  text-align: center;
  color: white;
}

h1 > span {
  display: inline-block;
  width: 46px;
  text-align: center;
}

.tg{
  position: absolute;
  top: -18px;
  width: 150px;
  height: 100px;
}

#tg1{
  left: -290px;
  z-index: 2;
}

#tg2{
  left: 600px;
}
